:root {
  --header-outer-height: 120px;
  --header-inner-height: 70px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  justify-content: center;
  background: var(--bg);
}

.webgl {
  position: relative;
  top: auto;
  z-index: 1;
}

/* Navigation Bar */
:root {
  --header-outer-height: 120px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

.responsive-wrapper {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Sticky header */
.header-logo img {
  height: 70px;
  width: 70px;
  margin-left: 20px;
}

.header-text {
  font-weight: bold;
  font-size: 60px; /* Default font size */
  font-family: "Archivo Black", "Times New Roman", Times, serif;
  margin-right: auto;
  padding-right: 20px; /* Add padding to create space around the text */
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .header-text {
    font-size: 40px; /* Adjust the font size for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .header-text {
    font-size: 30px; /* Adjust the font size for even smaller screens */
    padding: 5px; /* Adjust padding for even smaller screens */
  }
}

.icon {
  margin-right: 20px;
}

/* Clock */
#clock {
  display: flex;
  font-size: 35px;
  font-weight: bold;
  margin-right: auto;
  color: #a81c1c;
  white-space: nowrap; /* Prevent text from wrapping */
}

#date {
  display: flex;
  font-size: 22px;
  margin-right: auto;
  align-items: center;
  white-space: nowrap; /* Prevent text from wrapping */
}

#phtime {
  display: flex; /* Display the content in a horizontal line */
  align-items: center; /* Center vertically */
  font-size: 22px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from wrapping */
}

.phdate {
  margin: 0;
  margin-right: 20px;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  #clock {
    font-size: 25px;
  }

  #date {
    font-size: 18px;
  }

  #phtime {
    font-size: 18px;
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  #clock {
    font-size: 20px;
  }

  #date {
    font-size: 14px;
  }

  #phtime {
    display: none; /* Hide #phtime on smaller screens */
  }

  .phdate {
    display: none; /* Hide .phdate on smaller screens */
  }

  #date {
    white-space: nowrap; /* Prevent "Thursday" from wrapping */
  }
}

#header-time {
  margin-right: auto;
}

.header-outer {
  border-bottom: 2px solid #f0f0f0;

  /* Make it stick */
  z-index: 2;
  height: var(--header-outer-height);
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  display: flex;
  align-items: center;

  /* Other */
  background-color: var(--header-bg);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.header-inner {
  /* Make it stick */
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  /* Other */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling of other elements */

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}

.header-navigation a,
.header-navigation button {
  font-size: 1.125rem;
  color: inherit;
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
}

.header-navigation a {
  display: none;
  font-size: 1.125rem;
  color: inherit;
  text-decoration: none;
}

.header-navigation button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
  transform: scalex(1);
  color: rgb(151, 55, 55);
  text-decoration: none;
}

.header-navigation a:after,
.header-navigation button:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
  color: #e1e8ee;
}
.header-navigation a.active {
  transform: scalex(1);
  color: rgb(151, 55, 55);
}
@media (min-width: 800px) {
  .header-navigation a {
    display: inline-block;

    .header-navigation button {
      display: none;
    }
  }
}

/* END OF HEADER */

/* Banner/Cover */
.parallax-home {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax-home .banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(800px);
  filter: brightness(40%);
}

.parallax-home #lib-front {
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

/* Responsive styles for .parallax-home */
@media (max-width: 576px) {
  .parallax-home {
    height: 100vh; /* Adjust height for screens with a width of 576px or less */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .parallax-home {
    height: 80vh; /* Adjust height for screens with a width between 577px and 768px */
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .parallax-home {
    height: 70vh; /* Adjust height for screens with a width between 769px and 992px */
  }
}

.title {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: left;
  top: 30%; /* Adjust this value to move the positioned div up and down */
  font-weight: bold;
  color: whitesmoke;
  width: 30%; /* Set the width of the positioned div */
}

#parallax-home-text-lib {
  position: absolute;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
  left: -10%;
  font-size: 9.5vw;
  font-family: "Archivo Black", "Times New Roman", Times, serif;
}

#parallax-home-text-school {
  position: absolute;
  color: #ffffff;
  text-align: center;
  margin-top: 3.5%;
  left: 10%; /* Adjust the left position as needed */
  font-size: 1.5vw; /* Adjust the font size as needed */
  font-family: "Archivo Black", "Times New Roman", Times, serif;
}

#parallax-home-text-disc {
  position: absolute;
  color: #ffffff;
  text-align: center;
  margin-top: 40%;
  left: 23%;
  font-size: 1.9vw;
  opacity: 80%;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

@media only screen and (max-width: 952px) {
  .parallax-home {
    height: 20vh;
  }
}
/* END of Banner/Cover */

/* Discover */

.discover-pic {
  width: 650px;
  height: 750px;
  position: absolute;
  display: flex;
}

/* Seat Info */
.seats {
  z-index: 1;
  padding-top: 20px;
  position: relative;
  height: 46vh;
  width: 45%;
  float: left;
  text-align: center;
  margin-top: 50px;
}

.no-of-seats {
  text-align: left;
}

.average-rating {
  text-align: right;
}

.rating {
  font-size: 24px;
  color: #f39c12;
  display: inline-block;
}

.fas {
  color: #f39c12;
  font-size: 20px;
  vertical-align: middle;
}

#no {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.no-of-seats {
  text-align: center;
  font-family: "Archivo Black", "Times New Roman", Times, serif;
}

.no-of-seats #no {
  padding-top: 10px;
  color: #a81c1c;
  font-size: 15vh;
}

.no-of-seats #avail {
  font-size: 6vh;
}

.dashboard #ave-text {
  font-size: 6vh;
  font-family: "Archivo Black", "Times New Roman", Times, serif;
}

.rating {
  font-size: 15vh;
  font-family: "Archivo Black", "Times New Roman", Times, serif;
}

.fa-star {
  font-size: 10vh;
  margin-bottom: 80px;
}

.dashboard {
  z-index: 1;
  padding-top: 20px;
  position: relative;
  height: 46vh;
  width: 45%;
  float: right;
  text-align: center;
  margin-top: 50px;
}

.seats .reserve-btn {
  margin-top: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 800;
  text-align: center;
  padding: 16px 14px 18px;
  color: black;
  box-shadow: inset 0 0 0 2px #dd5656;
  background-color: #fff;
  height: 48px;
  text-decoration: none;
}

.reserve-btn:hover {
  color: #dd5656;
  background-color: #fbd370;
  box-shadow: inset 0 0 0 2px #fbd370;
  text-decoration: none;
}
/* END of Seat Info */

/* News Slider */
.c-item {
  max-width: 100%;
  height: 46vh;
}

.c-img {
  object-fit: cover;
  filter: brightness(60%);
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel {
  z-index: 1;
  margin-top: 50px;
  margin-right: 50px;
  width: 45%;
  position: relative;
  height: 46vh;
  float: right;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 65px;
  padding-bottom: 5vh;
  text-align: left;
  width: 100%;
}

.btn-primary {
  background: #dd5656;
  border: #dd5656;
  height: 34px;
  width: 0px;
  font-size: 11px;
}

.carousel-inner .btn-primary {
  background: #dd5656;
  border: #dd5656;
  height: 34px;
  width: 150px;
  font-size: 11px;
  padding: 1%;
}

.carousel .btn:hover {
  background: #fbd370;
  border: #fbd370;
  color: #222025;
}

@media (max-width: 1628px) {
  .seats {
    margin-bottom: 0;
    width: 100%;
  }

  .carousel {
    margin-top: 0px;
    width: 100%;
    height: 46vh;
    margin-right: 0px;
  }

  .c-item {
    height: 46vh;
  }
}

@media (max-width: 766px) {
  .c-item {
    max-height: 42vh;
  }
  .carousel {
    width: 100%;
    height: 42vh;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 0px;
  }

  .carousel-caption {
    width: 10vh;
    width: 80%;
    font-size: small;
  }

  .col-2 {
    width: 50%;
    position: relative;
    padding-top: 0px;
  }
}
/* END of News Slider */

/* About Us */
.abtus {
  margin-top: 620px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-1 {
  width: 30%;
  height: 750px;
  position: relative;
  align-items: center;
  margin-left: 130px;
  padding: 1em;
}

.col-1 img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
}

.col-2 {
  width: 50%;
  position: relative;
  margin: 0 auto; /* Center horizontally */
  padding-top: 27em;
  text-align: center;
}

.col-2 h2 {
  color: #a81c1c;
  margin: 0 auto; /* Center horizontally */
  font-size: 3.5vw;
  font-family: "Archivo Black", "Times New Roman", Times, serif;
  padding-bottom: 10px;
}

.col-2 h6 {
  margin: 0 auto; /* Center horizontally */
  color: #dd5656;
  margin-top: 0%;
  left: 7%;
  font-size: 1.5vw;
  font-family: "Archivo Black", "Times New Roman", Times, serif;
}

.col-2 p {
  margin: 0 auto; /* Center horizontally */
  font-family: "Helvetica";
  font-size: 2.4vh;
  width: 90%;
}

@media (max-width: 954px) {
  .col-2 {
    width: 50%;
    position: relative;
    padding-top: 30px;
  }
}

@media (max-width: 820px) {
  .col-1 {
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 0%;
  }

  .col-1 img {
    padding-bottom: 0;
    border-radius: 15px;
  }
  .col-2 {
    width: 100%;
    position: relative;
    padding: 10%;
    padding-top: 5%;
  }
}

@media (max-width: 566px) {
  .c-img {
    height: 100%;
  }
  .col-2 {
    padding-left: 13%;
    width: 100%;
  }

  .col-2 h6 {
    font-size: 15px;
  }

  .col-2 h1 {
    font-size: 30px;
  }

  .col-2 p {
    font-size: 15px;
  }
}
/* END of About Us */

.wrap {
  margin: 100px auto 0 auto;
  width: 100%;
  display: flex;
  align-items: space-around;
  max-width: 1500px;
}

.tile {
  border-radius: 10px;
  width: 480px;
  height: 380px;
  margin: 10px;
  background-color: #141212;
  display: inline-block;
  background-size: cover;
  position: relative;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: "Roboto";
}
.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}
.tile .text {
  /*   z-index:99; */
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
}
.tile h1 {
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.tile h2 {
  font-weight: 100;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}
.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.tile:hover {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}
.tile:hover img {
  opacity: 0.2;
}
.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}
.dots {
  position: absolute;
  bottom: 20px;
  right: 30px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dots span {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.dots span:nth-child(1) {
  transition-delay: 0.05s;
}
.dots span:nth-child(2) {
  transition-delay: 0.1s;
}
.dots span:nth-child(3) {
  transition-delay: 0.15s;
}

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 400px;
  }
}
/* EN OF VMGO */

/* Footer */
footer a,
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: none;
  outline: none;
  color: #dd5656;
}

footer a,
footer a:active,
footer a:focus {
  color: #dd5656;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer img {
  max-width: 100%;
  height: auto;
}
footer section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
footer .btn {
  padding: 14px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.red-btn {
  background: #ed1b24;
  border: 2px solid #ed1b24;
  color: #fff;
}
.red-btn:hover {
  background: #fff;
  color: #ed1b24;
}

/*---------footer---------*/
footer {
  background-color: #222023;
  background-image: -webkit-linear-gradient(top, #222023, #4b0c0c);
  background-image: -moz-linear-gradient(top, #222023, #4b0c0c);
  background-image: -o-linear-gradient(top, #222023, #4b0c0c);
  background-image: linear-gradient(to bottom, #222023, #4b0c0c);
  color: #fff;
  padding: 70px 0px;
  font-size: 17px;
  margin-top: 200px;
  width: 100%;
}
footer h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}
.about-footer li i {
  position: absolute;
  left: 0;
}
.about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}

.about-footer ul {
  margin-top: 40px;
}

footer a {
  color: #fff;
}

.footer-title {
  border-bottom: 2px solid #a61f2d;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

ul.footer-social {
  float: right;
}

ul.footer-social li {
  display: inline;
  margin-right: 16px;
}

ul.footer-social i {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222025;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 800;
}

ul.footer-social li:last-child {
  margin-right: 0px;
}

.page-more-info li {
  margin-bottom: 31px;
}

footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}

footer .table td:last-child {
  text-align: right;
}
footer .table td {
  padding: 0px;
  border: 0;
}

footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}

footer .table td {
  position: relative;
  padding: 4px 0;
}
.footer-logo td {
  padding-right: 4px !important;
  height: 50px;
  width: 50px;
}

.footer-logo td:last-child {
  padding-right: 0px !important;
}
footer hr {
  border-color: #9294a0;
}

.footer-bottom p {
  text-align: right;
}
.footer-bottom {
  margin-top: 30px;
}
.table-hours {
  padding-left: 3rem;
  justify-content: space-between;
  width: 100%;
}
.table-hours tr {
  color: white;
}
.footer-top i:hover {
  color: #dd5656;
}
.footer-social i:hover {
  color: white;
  background: #a81c1c;
}

/* END of Footer */

hr {
  border: none;
  background-color: black;
  height: 1.5px;
}

.container {
  position: relative; /* Position the container relative to its normal position */
  display: flex; /* Use flexbox to align elements horizontally */
  align-items: center; /* Vertically center-align the elements */
}

.vertical-line {
  border-left: 1.5px solid black; /* Adjust the width and color as needed */
  height: 150px; /* Adjust the height as needed */
  margin-left: 100px; /* Adjust the margin to control the gap between lines */
  position: absolute;
}
