/* fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400");

* {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

.wrapper {
  width: 100%;
  justify-content: center;
  background: var(--bg);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
  --header-outer-height: 120px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */
nav ul li:nth-child(5) a {
  color: #dd5656;
}
nav ul li.hideOnMobile:nth-child(5) a {
  color: #dd5656;
}
div.container:first-of-type {
  margin-top: 70px;
}
nav {
  
    position: fixed; /* Set the position to fixed */
    top: 0; /* Stick it to the top of the viewport */
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make it full-width */
    z-index: 999; /* Ensure it appears above other content */

}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

nav li {
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}


nav a:hover {
  color: #dd5656;
  text-decoration: none;
}

nav li:first-child {
  margin-right: auto;
  font-size: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255, 0.2);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media(max-width: 1200px) {
  .hideOnMobile{
      display: none;
  }

  .menu-button {
      display: block;
  }

  nav li:first-child {
    font-size: 20px;
  }
}

@media(max-width: 400px) {
  .sidebar {
      width: 100%;
  }
}


.icon {
  height: 65px;
  width: x;
  font-size: large;
  padding: 7px;
  margin: 5px;
}

.header-text {
  font-weight: bold;
  font-size: 60px; /* Default font size */
  font-family: "Archivo Black", "Times New Roman", Times, serif;
  margin-right: auto;
  padding-right: 20px; /* Add padding to create space around the text */
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .header-text {
    font-size: 40px; /* Adjust the font size for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .header-text {
    font-size: 30px; /* Adjust the font size for even smaller screens */
    padding: 5px; /* Adjust padding for even smaller screens */
  }
}














/* Clock */
#clock {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
  color: #a81c1c;
  white-space: nowrap; /* Prevent text from wrapping */
}

#date {
  display: flex;
  font-size: 19px;
  margin-right: auto;
  align-items: center;
  white-space: nowrap; /* Prevent text from wrapping */
}

#phtime {
  display: flex; /* Display the content in a horizontal line */
  align-items: center; /* Center vertically */
  font-size: 19px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from wrapping */
}

.phdate {
  margin: 0;
  margin-right: 18px;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  #clock {
    font-size: 20px;
  }

  #date {
    font-size: 15px;
  }

  #phtime {
    font-size: 15px;
  }
}

@media screen and (max-width: 770px) {
  .icon {
    height: 50px;
    width: 50px;
    padding: 7px;
  }

}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 500px) {
  #clock {
    font-size: 15px;
  }

  #date {
    font-size: 10px;
  }
  nav li:first-child {
    
    font-size: 20px;
  }
  .icon {
    height: 50px;
    width: 50px;
    padding: 7px;
    margin: 5px;
  }

}

@media screen and (max-width: 450px) {
  #clock {
    font-size: 5px;
  }

  #date {
    font-size: 5px;
  }

  #phtime {
    display: none; /* Hide #phtime on smaller screens */
  }

  .phdate {
    display: none; /* Hide .phdate on smaller screens */
  }

  #date {
    white-space: nowrap; /* Prevent "Thursday" from wrapping */
  }
}


#header-time {
  margin-right: auto;
}




/* END OF HEADER */

/* BODY */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e8ee;
}

.my-proflie h2 {
  font-weight: 400;
  color: #707584;
  font: 24px/24px "Open Sans", sans-serif;
  align-items: center;
}

.my-proflie h3 {
  margin: 0px 0px 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.my-proflie {
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  padding: 50px 10px;
}

.app-wrapper {
  background-color: #fff;
  height: 700px;
  max-width: 880px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
}

.profile {
  width: 390px;
  background-color: #f2f2f2;
  height: 100%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: 50px;
}

.profile h2 {
  text-align: center;
}

.profile h4 {
  text-align: center;
  margin-top: 20px;
}

.profile p {
  text-align: center;
}

.profile-info {
  margin-top: 40px;
}

.profile-info h5 {
  text-align: left;
  margin-bottom: 20px;
}

.my-proflie .buttons {
  margin-top: 50px;
  background: #a81c1c;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 70px;
  font-size: 12px;
}

.las {
  margin-right: 5px;
}

.reservations-wrapper {
  width: 520px;
  padding: 50px;
}

.modal-body h3 {
  font: 20px/20px "Open Sans", sans-serif;
  color: #707584;
}

.modal-control,
.modal-close {
  display: inline-block;
  color: #c6cce2;
  font-size: 45px;
  line-height: 22px;
  cursor: pointer;
  transition: color 0.1s;
}

.modal-control:hover,
.modal-close:hover {
  color: #8fb4c6;
}

.total-reservation {
  display: inline-block;
  font-weight: 600;
  font-size: 32px;
  color: #444750;
  margin-left: 50px;
}

.reservations {
  margin-top: 60px;
  border-top: 1px solid #e5e5e5;
  padding-top: 50px;
  height: 550px;
  overflow: scroll;
}

.reservations.show {
  animation: fade-in 0.3s 1;
}

.reservations::-webkit-scrollbar {
  display: none;
}

.my-proflie p {
  font-size: 14px;
  line-height: 14px;
  color: #999;
}

.my-proflie h5 {
  font-size: 14px;
  line-height: 14px;
  color: #363636;
  text-align: left;
}

.my-proflie h5 span {
  font-weight: 900;
}

.details {
  margin-top: 20px;
  padding-top: 20px;
  height: 550px;
}

/* Profile Pic*/

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

/* Footer */
footer a,
footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: none;
  outline: none;
  color: #dd5656;
}

footer a,
footer a:active,
footer a:focus {
  color: #dd5656;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer img {
  max-width: 100%;
  height: auto;
}
footer section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
footer .btn {
  padding: 14px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.red-btn {
  background: #ed1b24;
  border: 2px solid #ed1b24;
  color: #fff;
}
.red-btn:hover {
  background: #fff;
  color: #ed1b24;
}

/*---------Edit Profile -----*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}


/*---------footer---------*/
footer {
  background-color: #222023;
  background-image: -webkit-linear-gradient(top, #222023, #4b0c0c);
  background-image: -moz-linear-gradient(top, #222023, #4b0c0c);
  background-image: -o-linear-gradient(top, #222023, #4b0c0c);
  background-image: linear-gradient(to bottom, #222023, #4b0c0c);
  color: #fff;
  padding: 70px 0px;
  font-size: 17px;
  margin-top: 200px;
  width: 100%;
}
footer h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}
.about-footer li i {
  position: absolute;
  left: 0;
}
.about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}

.about-footer ul {
  margin-top: 40px;
}

footer a {
  color: #fff;
}

.footer-title {
  border-bottom: 2px solid #a61f2d;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

ul.footer-social {
  float: right;
}

ul.footer-social li {
  display: inline;
  margin-right: 16px;
}

ul.footer-social i {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222025;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 800;
}

ul.footer-social li:last-child {
  margin-right: 0px;
}

.page-more-info li {
  margin-bottom: 31px;
}

footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}

footer .table td:last-child {
  text-align: right;
}
footer .table td {
  padding: 0px;
  border: 0;
}

footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}

footer .table td {
  position: relative;
  padding: 4px 0;
}
.footer-logo td {
  padding-right: 4px !important;
  height: 50px;
  width: 50px;
}

.footer-logo td:last-child {
  padding-right: 0px !important;
}
footer hr {
  border-color: #9294a0;
}

.footer-bottom p {
  text-align: right;
}
.footer-bottom {
  margin-top: 30px;
}
.table-hours {
  padding-left: 3rem;
  justify-content: space-between;
  width: 100%;
}
.table-hours tr {
  color: white;
}
.footer-top i:hover {
  color: #dd5656;
}
.footer-social i:hover {
  color: white;
  background: #a81c1c;
}

/* END of Footer */
