@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Tilt+Neon&display=swap');
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400");

* {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

.wrapper {
  width: 100%;
  justify-content: center;
  background: var(--bg);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
  --header-outer-height: 120px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */
:root {
  --header-outer-height: 120px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

.responsive-wrapper {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  color: white;
background-color: transparent;
  position: absolute;
  z-index: 99;
  right: 0;


}

.nav a {
  text-decoration: none;
  color:white;
  font-weight: bold;
  position: absolute;
  color: white;
  z-index: 99;
  text-decoration: none;
  padding: 1rem;
  right: 0;
}

.dateTimeDiv ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,html{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Poppins", sans-serif;
  }

  /* Sticky header */
.header-logo img {
  height: 70px;
  width: 70px;
  margin-left: 50px;
}

.header-outer {
  border-bottom: 2px solid #f0f0f0;

  /* Make it stick */
  z-index: 2;
  height: var(--header-outer-height);
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  display: flex;
  align-items: center;

  /* Other */
  background-color: var(--header-bg);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.header-inner {
  /* Make it stick */
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  /* Other */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling of other elements */

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}

.header-navigation a,
.header-navigation button {
  font-size: 1.125rem;
  color: inherit;
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
}

.header-navigation a {
  display: none;
  font-size: 1.125rem;
  color: inherit;
  text-decoration: none;
}

.header-navigation button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
  transform: scalex(1);
  color: rgb(151, 55, 55);
  text-decoration: none;
}

.header-navigation a:after,
.header-navigation button:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
  color: #e1e8ee;
}
.header-navigation a.active {
  transform: scalex(1);
  color: rgb(151, 55, 55);
}
@media (min-width: 800px) {
  .header-navigation a {
    display: inline-block;
  }

  .header-navigation button {
    display: none;
  }
}
  
  
  .webgl2 {
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
  }

  .container, .container2{
    position: absolute;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    display: none;
    top: 0;
    left: 0;
    right: 0; /* Adjust right to make it centered horizontally */
    bottom: 0;
    z-index: 1;
    transition: opacity 1.8s;
  }
  

.hidden {
  opacity: 0;
}
.form-control {
  background-color: transparent;
  border: 1px solid white;
}
.dateTimeDiv { 
  padding-bottom: 25px;
  background: rgb(3 3 3 / 50%);
  border-radius: 1.5rem 1.5rem 0 0;
  position: absolute;
  /* top: 15rem; */
  /* left: 2rem; */
  /* max-width: 350px; */
  /* right: 0; */
  bottom: 0rem;
  color: white;
  padding: 2rem;
  /* padding-bottom: 4rem; */
  /* z-index: 99; */
  outline: 1px solid #656565;
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.reserveDiv  { 
  background: rgb(3 3 3 / 50%);
  border-radius: 1rem;
  position: absolute;
  /* left: 0; */
  right: 2rem;
  bottom: 2em;
  color: white;
  padding: 2rem;
  z-index: 99;
  outline: 1px solid #656565;
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

}
.reserveDiv h1 {
  font-size: xx-large;
  font-weight: bolder;
}

.dateTimeSelected {
  background: rgba(3, 3, 3, 0.257);
  border-radius: .5rem;
  color: whitesmoke;
  padding: 1rem;
}
.title-container {

  /* position: absolute;
  width: 780px;
  height: auto;
  top: 50%;
  left: 0; */
  /* transform: translateX(-50%); */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15rem;
    left: 0;
    /* right: 0; */
    /* bottom: 0rem; */
    padding: 1rem;
}
/* .dateTimeDiv {
  z-index: 1;
  height: 250px;
  background-color: red;

}  */

.big-title {
  font-size: 2.25rem;
}

.title {
  color: whitesmoke;
padding: 1.2rem;
}

.title h1{
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 700;
}

.explore, .explore2{
  cursor: pointer;
  /* padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem; */
  /* margin-top: 1rem; */
  /* border: none;
  border-radius: 2.5rem;
  font-family:"Poppins", sans-serif ;
  font-weight: 700;
  font-size: 1rem; */
  background-color: #a81c1c !important;
  outline: 1px solid #a81c1c !important;
  border: 1px solid #a81c1c !important;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.explore:hover, .explore2:hover{
  background-color: #841616;
  transition-duration: 250ms;
}

.explore:focus, .explore2:focus{
  background-color: #540e0e;
  transition-duration: 250ms;
}

.explore:active, .explore2:active{
  background-color: #540e0e;
  transition-duration: 250ms;
}

.helper {
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease 1s; /* Add a 1s delay to the opacity transition */
  animation: fade-in 1s 1s ease; /* Add a 1s delay to the fade-in animation */
  animation-duration: 1s;
  color: white;
  border: 1px solid gray;
  padding: 3rem;
  border-radius: 0.5rem; /* Corrected the value here (changed . to 0) */
  top: 50%;
  left: 50%;
  z-index: 99;
  width: 350px;
  background: rgba(3, 3, 3, 0.5); /* Corrected the rgba syntax here */
  transform: translate(-50%, -50%);
  display: none;
  height: fit-content;
  position: absolute;
  justify-content: center; /* Corrected from justify-items to justify-content */
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}


.tooltip {
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  color: whitesmoke;
  margin-top: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1%;
  left: 1%;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  z-index: 1;
}


.tooltip h2 {
  font-family: "Tilt Neon", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.tooltip p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.section-nav {
  position: absolute;
  z-index: 1;
  display: none;
  opacity: 0;
}

.dateTimeDiv {
  transform: translateY(100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

.section1, .section2, .section3, .section4, .filterBtn{
  display: block;
  cursor: pointer;
  margin: 15px 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 2.5rem;
  font-family:"Poppins", sans-serif ;
  font-weight: 400;
  font-size: 1rem;
  background-color: rgba(130, 0, 13, 0.7);
  text-transform: capitalize;
  color: whitesmoke;
}

.ui-timepicker-wrapper {
  background-color: rgb(3 3 3 / 75%) !important;
  border-radius: 1rem;
  padding: .5rem;
  line-height: 2.5rem;
  max-width: fit-content;
}

.ui-timepicker-list li {
  color: white;
}

li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list .ui-timepicker-selected:hover {
  background-color: transparent !important;
  scale: 1.05;
  animation-duration: 300ms;
  transition-duration: 200ms;

}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius:2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

input::placeholder {
  color: lightgray !important;
}




/* Mobile-first styles (applies to all screen sizes) */
/* 
body {
  font-size: 16px;
}

.container {
  left: 0;
}

.nav {
  padding: 1rem;
  flex-direction: column;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  padding: 1rem;
}

.explore {
  padding: 1rem;
}

.tooltip {
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.section-nav {
  padding: 1rem;
} */

/* Media query for larger screens */
@media (min-width: 768px) {
  body {
      font-size: 18px;
  }


  .nav {
      padding: 2rem 8rem;
      flex-direction: row;
  }

  .nav ul {
      flex-direction: row;
  }

  .title {
      padding: 4rem;
  }



  .tooltip {
      max-width: 450px;
      left: 37.5%;
  }

  .section-nav {
      padding: 1rem;
      /* margin-top: -5rem; */
  }
  .dateTimeDiv { 
    border-radius: 1rem;
    position: absolute;
    /* top: 15rem; */
    left: 2rem;
    max-width: 375px;
    bottom: 20%;
    /* right: 0; */
    /* bottom: 0; */

  }
  .dateTimeDiv {
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
  }
  
  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }
  
}






/* flatpicker css  */
  .flatpickr-calendar {
  background: transparent  !important;
  -webkit-box-shadow: none; 
   box-shadow: none;
  }
  
  .flatpickr-current-month .flatpickr-monthDropdown-months {
  background: transparent !important;
  }
  .span.flatpickr-weekday {
  background: transparent !important;
  }
  
  .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: darkred !important;
  }
  
  .flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
  background: gray !important;
  }
  
  .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: darkred !important;
  }

  .flatpickr-months .flatpickr-month {
    background: transparent !important;
  }

  span.flatpickr-weekday {
    background: transparent !important;
  }